/* @import-normalize */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* style reset */
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
ol {
  /* list-style: none; */
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.header_layout {
  /* width: 1200px; */
  height: 60px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 7px 8px 0 rgba(34, 60, 80, .2);
}

.nav_list {
  display: flex;
  padding: 20px;
}

.nav_item{
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  color: blue;
}

.nav_item:not(:last-child) {
  margin-right: 20px;
}

.movie_layout {
  height: 60px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #0000008f;
}

.movie_links {
  margin-right: 20px;
}

.tranding_box{
  margin-left: 20px;
}

.tranding_title {
  margin: 10px 0;
}
/*  */

.main_description {
  display: flex;
}

.main_thumb {
  margin-left: 10px;
  margin-top: 50px;
}

.cast-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cast-item {
  display: inline-block;
  width: calc(100% / 6);
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

